<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1.0, initial-scale=1.0">
  <title>EbwInvest</title>

  <link rel="stylesheet" href="/static/style.css">
  
</head>
<body>
  <div class="Banner">
    <div  class="Overlay"></div>
      <div  class="Glass">
        <div  class="Texto">
          <h1>Ebw.Dev</h1>
          <p>Desnevolimento de Softwares por demanda!</p>
          <p>CEO: Jhoned Antonio</p>
        </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 
</body>
</html>